@media (max-width : 400px) {


    .container .row .content .age input,
    .container .row .content .height input,
    .container .row .content .weight input {
        max-width: fit-content;
    }

    .container .row .content .height select,
    .container .row .content .weight select {
        max-width: fit-content;
    }

    .container .row .image {
        display: none;
    }
}